# **Tarea Nº 2**

Curso:          Fundamentos de Programación en Python para las CCSS y la Gestión Pública

Profesor:       Víctor Fuentes Campos

- Fecha y hora de entrega: Lunes 9 de diciembre, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Armando Paredes ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom

## **Vuelos, aerolíneas y aeropuertos al detalle**

1. Importa el conjunto de datos `flights.csv`. Encuentra todos los vuelos que:

    a. Tuvieron un retraso de llegada de tres horas o más.

    b. Volaron a Houston (IAH o HOU).

    c. Fueron operados por United, American o Southwest.

    d. Partieron en primavera (marzo, abril y junio).

In [61]:
# Solución
import pandas as pd
file_root="flights.csv"
df_flights=pd.read_csv(file_root)

In [62]:
df_flights

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [ ]:
#b)
df_flights[df_flights["dest"]=="HOU"]

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
313,314,2013,1,1,1208.0,1158,10.0,1540.0,1502,38.0,B6,625,N239JB,JFK,HOU,253.0,1428,11,58,2013-01-01 11:00:00
357,358,2013,1,1,1306.0,1300,6.0,1622.0,1610,12.0,WN,2596,N773SA,EWR,HOU,239.0,1411,13,0,2013-01-01 13:00:00
584,585,2013,1,1,1708.0,1700,8.0,2037.0,2005,32.0,WN,1066,N778SW,EWR,HOU,245.0,1411,17,0,2013-01-01 17:00:00
770,771,2013,1,1,2030.0,2035,-5.0,2354.0,2342,12.0,B6,629,N192JB,JFK,HOU,245.0,1428,20,35,2013-01-01 20:00:00
963,964,2013,1,2,734.0,700,34.0,1045.0,1025,20.0,WN,20,N485WN,EWR,HOU,235.0,1411,7,0,2013-01-02 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335970,335971,2013,9,30,820.0,820,0.0,1055.0,1110,-15.0,B6,281,N329JB,JFK,HOU,198.0,1428,8,20,2013-09-30 08:00:00
336213,336214,2013,9,30,1245.0,1245,0.0,1526.0,1540,-14.0,WN,3616,N469WN,EWR,HOU,200.0,1411,12,45,2013-09-30 12:00:00
336263,336264,2013,9,30,1337.0,1345,-8.0,1635.0,1633,2.0,B6,581,N804JB,JFK,HOU,197.0,1428,13,45,2013-09-30 13:00:00
336298,336299,2013,9,30,1413.0,1415,-2.0,1655.0,1715,-20.0,WN,1945,N553WN,LGA,HOU,201.0,1428,14,15,2013-09-30 14:00:00
336527,336528,2013,9,30,1735.0,1715,20.0,2010.0,2005,5.0,WN,2067,N296WN,EWR,HOU,188.0,1411,17,15,2013-09-30 17:00:00

In [ ]:
#c) 
df_flights[df_flights["carrier"]==""]

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
6,7,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00
8,9,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00
10,11,2013,1,1,558.0,600,-2.0,849.0,851,-2.0,B6,49,N793JB,JFK,PBI,149.0,1028,6,0,2013-01-01 06:00:00
11,12,2013,1,1,558.0,600,-2.0,853.0,856,-3.0,B6,71,N657JB,JFK,TPA,158.0,1005,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336765,336766,2013,9,30,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,2013-09-30 22:00:00
336766,336767,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00
336767,336768,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00
336768,336769,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00
336769,336770,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00

In [ ]:
#b)
df_flights[df_flights["dest"]=="IAH"]

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
32,33,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01 06:00:00
81,82,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01 07:00:00
89,90,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336487,336488,2013,9,30,1701.0,1704,-3.0,1939.0,1958,-19.0,UA,525,N458UA,LGA,IAH,182.0,1416,17,4,2013-09-30 17:00:00
336524,336525,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,2013-09-30 17:00:00
336618,336619,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,2013-09-30 18:00:00
336694,336695,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00

2. ¿Cuántos vuelos tienen un valor faltante en la variable `dep_time`? ¿Qué otras variables tienen valores faltantes? ¿Qué podrían representar estas filas?

In [6]:
# Solución
df_flights.columns

Index(['Unnamed: 0', 'year', 'month', 'day', 'dep_time', 'sched_dep_time',
       'dep_delay', 'arr_time', 'sched_arr_time', 'arr_delay', 'carrier',
       'flight', 'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour',
       'minute', 'time_hour'],
      dtype='object')

In [13]:
missing_values=df_flights.isnull()
print(missing_values)

        Unnamed: 0   year  month    day  dep_time  sched_dep_time  dep_delay  \
0            False  False  False  False     False           False      False
1            False  False  False  False     False           False      False
2            False  False  False  False     False           False      False
3            False  False  False  False     False           False      False
4            False  False  False  False     False           False      False
...            ...    ...    ...    ...       ...             ...        ...
336771       False  False  False  False      True           False       True
336772       False  False  False  False      True           False       True
336773       False  False  False  False      True           False       True
336774       False  False  False  False      True           False       True
336775       False  False  False  False      True           False       True

        arr_time  sched_arr_time  arr_delay  carrier  flight  tailnum  origin  \
0          False           False      False    False   False    False   False
1          False           False      False    False   False    False   False
2          False           False      False    False   False    False   False
3          False           False      False    False   False    False   False
4          False           False      False    False   False    False   False
...          ...             ...        ...      ...     ...      ...     ...
336771      True           False       True    False   False     True   False
336772      True           False       True    False   False     True   False
336773      True           False       True    False   False    False   False
336774      True           False       True    False   False    False   False
336775      True           False       True    False   False    False   False

         dest  air_time  distance   hour  minute  time_hour
0       False     False     False  False   False      False
1       False     False     False  False   False      False
2       False     False     False  False   False      False
3       False     False     False  False   False      False
4       False     False     False  False   False      False
...       ...       ...       ...    ...     ...        ...
336771  False      True     False  False   False      False
336772  False      True     False  False   False      False
336773  False      True     False  False   False      False
336774  False      True     False  False   False      False
336775  False      True     False  False   False      False

[336776 rows x 20 columns]

In [14]:
missing_values_count=df_flights.isna().sum()
print(missing_values_count)

Unnamed: 0           0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [ ]:
# Las filas representan valores faltantes o lo que suele conocerce como missing values que no representan información para el objetivo de análsis.

3. Ordena los vuelos para encontrar los vuelos con mayor retraso en el tiempo de llegada.

In [ ]:
# Solución
print(df_flights.sort_values(by=['arr_delay'], ascending=[False]))

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
7072          7073  2013      1    9     641.0             900     1301.0
235778      235779  2013      6   15    1432.0            1935     1137.0
8239          8240  2013      1   10    1121.0            1635     1126.0
327043      327044  2013      9   20    1139.0            1845     1014.0
270376      270377  2013      7   22     845.0            1600     1005.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336772  2013      9   30       NaN            1455        NaN
336772      336773  2013      9   30       NaN            2200        NaN
336773      336774  2013      9   30       NaN            1210        NaN
336774      336775  2013      9   30       NaN            1159        NaN
336775      336776  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
7072      1242.0            1530     1272.0      HA      51  N384HA    JFK
235778    1607.0            2120     1127.0      MQ    3535  N504MQ    JFK
8239      1239.0            1810     1109.0      MQ    3695  N517MQ    EWR
327043    1457.0            2210     1007.0      AA     177  N338AA    JFK
270376    1044.0            1815      989.0      MQ    3075  N665MQ    JFK
...          ...             ...        ...     ...     ...     ...    ...
336771       NaN            1634        NaN      9E    3393     NaN    JFK
336772       NaN            2312        NaN      9E    3525     NaN    LGA
336773       NaN            1330        NaN      MQ    3461  N535MQ    LGA
336774       NaN            1344        NaN      MQ    3572  N511MQ    LGA
336775       NaN            1020        NaN      MQ    3531  N839MQ    LGA

       dest  air_time  distance  hour  minute            time_hour
7072    HNL     640.0      4983     9       0  2013-01-09 09:00:00
235778  CMH      74.0       483    19      35  2013-06-15 19:00:00
8239    ORD     111.0       719    16      35  2013-01-10 16:00:00
327043  SFO     354.0      2586    18      45  2013-09-20 18:00:00
270376  CVG      96.0       589    16       0  2013-07-22 16:00:00
...     ...       ...       ...   ...     ...                  ...
336771  DCA       NaN       213    14      55  2013-09-30 14:00:00
336772  SYR       NaN       198    22       0  2013-09-30 22:00:00
336773  BNA       NaN       764    12      10  2013-09-30 12:00:00
336774  CLE       NaN       419    11      59  2013-09-30 11:00:00
336775  RDU       NaN       431     8      40  2013-09-30 08:00:00

[336776 rows x 20 columns]

4. Encuentra los 5 vuelos que salieron más temprano en relación con su hora de salida programada. Muestra únicamente el código del avión (`tail_num`), la fecha y el número de minutos que salieron temprano.

In [62]:
# Solución
# Solución
print(df_flights.sort_values(by=['dep_time'], ascending=[True]))

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
10452        10453  2013      1   13       1.0            2249       72.0
100800      100801  2013     12   20       1.0            2359        2.0
212954      212955  2013      5   22       1.0            1935      266.0
297030      297031  2013      8   19       1.0            2359        2.0
131559      131560  2013      2   24       1.0            2245       76.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336772  2013      9   30       NaN            1455        NaN
336772      336773  2013      9   30       NaN            2200        NaN
336773      336774  2013      9   30       NaN            1210        NaN
336774      336775  2013      9   30       NaN            1159        NaN
336775      336776  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
10452      108.0            2357       71.0      B6      22  N206JB    JFK
100800     430.0             440      -10.0      B6    1503  N608JB    JFK
212954     154.0            2140      254.0      EV    4361  N27200    EWR
297030     347.0             350       -3.0      B6     745  N552JB    JFK
131559     121.0            2354       87.0      B6     608  N216JB    JFK
...          ...             ...        ...     ...     ...     ...    ...
336771       NaN            1634        NaN      9E    3393     NaN    JFK
336772       NaN            2312        NaN      9E    3525     NaN    LGA
336773       NaN            1330        NaN      MQ    3461  N535MQ    LGA
336774       NaN            1344        NaN      MQ    3572  N511MQ    LGA
336775       NaN            1020        NaN      MQ    3531  N839MQ    LGA

       dest  air_time  distance  hour  minute            time_hour
10452   SYR      41.0       209    22      49  2013-01-13 22:00:00
100800  SJU     182.0      1598    23      59  2013-12-20 23:00:00
212954  TYS      94.0       631    19      35  2013-05-22 19:00:00
297030  PSE     201.0      1617    23      59  2013-08-19 23:00:00
131559  PWM      56.0       273    22      45  2013-02-24 22:00:00
...     ...       ...       ...   ...     ...                  ...
336771  DCA       NaN       213    14      55  2013-09-30 14:00:00
336772  SYR       NaN       198    22       0  2013-09-30 22:00:00
336773  BNA       NaN       764    12      10  2013-09-30 12:00:00
336774  CLE       NaN       419    11      59  2013-09-30 11:00:00
336775  RDU       NaN       431     8      40  2013-09-30 08:00:00

[336776 rows x 20 columns]

5. Actualmente, las variables `dep_time` y `arr_time` son convenientes para observar, pero difíciles de usar para cálculos porque no son números realmente continuos. Conviértelos en el número de minutos desde la medianoche en nuevas variables llamadas `arr_time_min` y `dep_time_min`.

In [ ]:
# Solución

6. Esperamos que `air_time` y la diferencia `arr_time_min` - `dep_time_min` sean iguales, pero no lo son. ¿Por qué no? Identifica un problema importante con los datos y uno más sutil.

In [ ]:
# Solución

7. Encuentra los 5 vuelos con mayor retraso.

In [ ]:
# Solución
#retraso en el arrivo
print(df_flights.sort_values(by=['arr_delay'], ascending=[False]))

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
7072          7073  2013      1    9     641.0             900     1301.0
235778      235779  2013      6   15    1432.0            1935     1137.0
8239          8240  2013      1   10    1121.0            1635     1126.0
327043      327044  2013      9   20    1139.0            1845     1014.0
270376      270377  2013      7   22     845.0            1600     1005.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336772  2013      9   30       NaN            1455        NaN
336772      336773  2013      9   30       NaN            2200        NaN
336773      336774  2013      9   30       NaN            1210        NaN
336774      336775  2013      9   30       NaN            1159        NaN
336775      336776  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
7072      1242.0            1530     1272.0      HA      51  N384HA    JFK
235778    1607.0            2120     1127.0      MQ    3535  N504MQ    JFK
8239      1239.0            1810     1109.0      MQ    3695  N517MQ    EWR
327043    1457.0            2210     1007.0      AA     177  N338AA    JFK
270376    1044.0            1815      989.0      MQ    3075  N665MQ    JFK
...          ...             ...        ...     ...     ...     ...    ...
336771       NaN            1634        NaN      9E    3393     NaN    JFK
336772       NaN            2312        NaN      9E    3525     NaN    LGA
336773       NaN            1330        NaN      MQ    3461  N535MQ    LGA
336774       NaN            1344        NaN      MQ    3572  N511MQ    LGA
336775       NaN            1020        NaN      MQ    3531  N839MQ    LGA

       dest  air_time  distance  hour  minute            time_hour
7072    HNL     640.0      4983     9       0  2013-01-09 09:00:00
235778  CMH      74.0       483    19      35  2013-06-15 19:00:00
8239    ORD     111.0       719    16      35  2013-01-10 16:00:00
327043  SFO     354.0      2586    18      45  2013-09-20 18:00:00
270376  CVG      96.0       589    16       0  2013-07-22 16:00:00
...     ...       ...       ...   ...     ...                  ...
336771  DCA       NaN       213    14      55  2013-09-30 14:00:00
336772  SYR       NaN       198    22       0  2013-09-30 22:00:00
336773  BNA       NaN       764    12      10  2013-09-30 12:00:00
336774  CLE       NaN       419    11      59  2013-09-30 11:00:00
336775  RDU       NaN       431     8      40  2013-09-30 08:00:00

[336776 rows x 20 columns]

In [ ]:
#etraso en la salidad
print(df_flights.sort_values(by=['dep_delay'], ascending=[False]))

        Unnamed: 0  year  month  day  dep_time  sched_dep_time  dep_delay  \
7072          7073  2013      1    9     641.0             900     1301.0
235778      235779  2013      6   15    1432.0            1935     1137.0
8239          8240  2013      1   10    1121.0            1635     1126.0
327043      327044  2013      9   20    1139.0            1845     1014.0
270376      270377  2013      7   22     845.0            1600     1005.0
...            ...   ...    ...  ...       ...             ...        ...
336771      336772  2013      9   30       NaN            1455        NaN
336772      336773  2013      9   30       NaN            2200        NaN
336773      336774  2013      9   30       NaN            1210        NaN
336774      336775  2013      9   30       NaN            1159        NaN
336775      336776  2013      9   30       NaN             840        NaN

        arr_time  sched_arr_time  arr_delay carrier  flight tailnum origin  \
7072      1242.0            1530     1272.0      HA      51  N384HA    JFK
235778    1607.0            2120     1127.0      MQ    3535  N504MQ    JFK
8239      1239.0            1810     1109.0      MQ    3695  N517MQ    EWR
327043    1457.0            2210     1007.0      AA     177  N338AA    JFK
270376    1044.0            1815      989.0      MQ    3075  N665MQ    JFK
...          ...             ...        ...     ...     ...     ...    ...
336771       NaN            1634        NaN      9E    3393     NaN    JFK
336772       NaN            2312        NaN      9E    3525     NaN    LGA
336773       NaN            1330        NaN      MQ    3461  N535MQ    LGA
336774       NaN            1344        NaN      MQ    3572  N511MQ    LGA
336775       NaN            1020        NaN      MQ    3531  N839MQ    LGA

       dest  air_time  distance  hour  minute            time_hour
7072    HNL     640.0      4983     9       0  2013-01-09 09:00:00
235778  CMH      74.0       483    19      35  2013-06-15 19:00:00
8239    ORD     111.0       719    16      35  2013-01-10 16:00:00
327043  SFO     354.0      2586    18      45  2013-09-20 18:00:00
270376  CVG      96.0       589    16       0  2013-07-22 16:00:00
...     ...       ...       ...   ...     ...                  ...
336771  DCA       NaN       213    14      55  2013-09-30 14:00:00
336772  SYR       NaN       198    22       0  2013-09-30 22:00:00
336773  BNA       NaN       764    12      10  2013-09-30 12:00:00
336774  CLE       NaN       419    11      59  2013-09-30 11:00:00
336775  RDU       NaN       431     8      40  2013-09-30 08:00:00

[336776 rows x 20 columns]

8. Calcula los retrasos promedio por destino para vuelos que se originan en Nueva York (NYC). Crea una variable que clasifique los destinos de peor a mejor, donde 1 representa el peor lugar en el ranking.

In [11]:
# Solución
#retraso en la salida
df_flights.groupby("origin")["dep_delay"].mean()

origin
EWR    15.107954
JFK    12.112159
LGA    10.346876
Name: dep_delay, dtype: float64

In [ ]:
#retraso en lleada
df_flights.groupby("origin")["arr_delay"].mean()

origin
EWR    9.107055
JFK    5.551481
LGA    5.783488
Name: arr_delay, dtype: float64

9. Calcula la demora promedio por aerolínea

In [ ]:
# Solución
#retraso en la salida
df_flights ["dep_delay"].mean()

np.float64(12.639070257304708)

In [ ]:
#retraso en la salida
df_flights.groupby("carrier")["dep_delay"].mean()

carrier
9E    16.725769
AA     8.586016
AS     5.804775
B6    13.022522
DL     9.264505
EV    19.955390
F9    20.215543
FL    18.726075
HA     4.900585
MQ    10.552041
OO    12.586207
UA    12.106073
US     3.782418
VX    12.869421
WN    17.711744
YV    18.996330
Name: dep_delay, dtype: float64

In [13]:
#retraso en la llegada
df_flights.groupby("carrier")["arr_delay"].mean()

carrier
9E     7.379669
AA     0.364291
AS    -9.930889
B6     9.457973
DL     1.644341
EV    15.796431
F9    21.920705
FL    20.115906
HA    -6.915205
MQ    10.774733
OO    11.931034
UA     3.558011
US     2.129595
VX     1.764464
WN     9.649120
YV    15.556985
Name: arr_delay, dtype: float64

10. El promedio del retraso en la llegada puede no ser la mejor métrica. Enuncie al menos 3 formas adicionales de evaluar las características típicas de los retrasos de un grupo de vuelos.

In [ ]:
# Solución
#1. La mediana del retraso en la llegada de los vuelos
#2. La moda del retraso en la llegada de los vuelos
#3. Considerando los percentiles del tiempo del retraso en la llegada de los vuelos.

## **Pobreza y vulnerabilidad**

Siguiendo el ejericio de clase, descargue los módulo Sumaria de la Enaho para los años 2019 y 2023. Para ello, utilice la página de [microdatos del INEI](https://proyectos.inei.gob.pe/microdatos/).

>Ojo: debe utilizar la encuesta `ENAHO Metología ACTUALIZADA` del tipo `Condiciones de Vida y Pobreza - ENAHO` y período `Anual - (Ene-Dic)`. Pueden descargar en formato `.csv`, `.sav`, `.dta`. Use el formato con el que sienta más cómodo. Además, recuerde que es clave revisar el diccionario de datos (por ejemplo, `Diccionario2023.pdf`) que encontrará al descargar los archivos

1. ¿Cuántos hogares fueron encuestados en 2023? ¿Y en 2019? ¿Cuál es la población estimada para dichos años?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 2 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución
import pandas as pd

In [88]:
sumaria=pd.read_csv("Sumaria-2019.csv", encoding='latin1')

In [87]:
#Hogares encuestados en el 2023
sumaria.columns
#Hogares encuestados en el 2019

Index(['AÑO', 'MES', 'NCONGLOME', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'UBIGEO',
       'DOMINIO', 'ESTRATO', 'PERCEPHO',
       ...
       'GASHOG26', 'GASHOG25', 'GASHOG2D', 'ESTRSOCIAL', 'LD', 'LINPE',
       'LINEA', 'POBREZA', 'FACTOR07', 'Poblacion_total'],
      dtype='object', length=159)

In [39]:
sumaria.shape

(34565, 158)

In [41]:
sumaria1=pd.read_csv("Sumaria-2023.csv", encoding='latin1')

In [42]:
sumaria1.shape

(33886, 163)

2. ¿Cuántos pobres (extremos y no extremos) se alcanzaron en 2019 y en 2023? ¿En cuánto se incrementó la pobreza en términos absolutos y relativos?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 12 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [45]:
# Solución
sumaria.POBREZA.value_counts(normalize=True)*100

POBREZA
3    82.803414
2    14.508896
1     2.687690
Name: proportion, dtype: float64

In [49]:
sumaria.POBREZA.value_counts()

POBREZA
3    28621
2     5015
1      929
Name: count, dtype: int64

In [46]:
sumaria1.POBREZA.value_counts(normalize=True)*100

POBREZA
3    78.448327
2    16.405005
1     5.146668
Name: proportion, dtype: float64

In [50]:
sumaria.POBREZA.value_counts()

POBREZA
3    28621
2     5015
1      929
Name: count, dtype: int64

3. ¿Cuántos pobres extremos se alcanzaron en 2019 y en 2023? ¿En cuánto se incrementó la pobreza exterma en términos absolutos y relativos?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 15 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [83]:
# Solución
sumaria[sumaria["POBREZA"]==1].count()

AÑO                929
MES                929
NCONGLOME          929
CONGLOME           929
VIVIENDA           929
                  ...
LINPE              929
LINEA              929
POBREZA            929
FACTOR07           929
Poblacion_total    929
Length: 159, dtype: int64

In [84]:
sumaria1[sumaria1["POBREZA"]==1].count()

AÑO             1744
MES             1744
CONGLOME        1744
VIVIENDA        1744
HOGAR           1744
                ...
LINEAV          1744
POBREZAV        1744
FACTOR07        1744
NCONGLOME       1744
SUB_CONGLOME    1744
Length: 163, dtype: int64

In [ ]:
#La pobreza se incremento en 815 en terminos absolutos y 188% en terminos relativos

4. ¿Cuál es el tamaño de la población bajo vulnerabilidad 2023 en términos relativos? ¿Y en 2019? ¿Se incrementó,mantuvo o redujo?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 8 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [96]:
# Solución
sumaria["Poblacion_total"]=sumaria["MIEPERHO"]*sumaria["FACTOR07"]

In [101]:
pob_total=sumaria["Poblacion_total"].sum()

In [99]:
sumaria.groupby("POBREZA")["Poblacion_total"]. sum()

POBREZA
1    9.328773e+05
2    5.665618e+06
3    2.607803e+07
Name: Poblacion_total, dtype: float64

In [102]:

sumaria.groupby("POBREZA")["Poblacion_total"]. sum()/pob_total*100

POBREZA
1     2.854885
2    17.338495
3    79.806620
Name: Poblacion_total, dtype: float64

In [103]:
2.854885+17.338495

20.19338

In [109]:
sumaria1["Poblacion_total"]=sumaria1["MIEPERHO"]*sumaria1["FACTOR07"]

In [110]:
pob_total=sumaria1["Poblacion_total"].sum()

In [111]:
sumaria1.groupby("POBREZA")["Poblacion_total"]. sum()

POBREZA
1    1.960234e+06
2    7.946474e+06
3    2.420034e+07
Name: Poblacion_total, dtype: float64

In [112]:
sumaria1.groupby("POBREZA")["Poblacion_total"]. sum()/pob_total*100

POBREZA
1     5.747300
2    23.298628
3    70.954072
Name: Poblacion_total, dtype: float64

In [113]:
5.747300+23.298628

29.045928

In [ ]:
#Se incremento en 8.8 % en el 2023 comparado con el 2019
29.045928-20.19338

8.852547999999999

5. Opcional 1: ¿Cuál es el tamaño de la pobreza (extrema y no extrema) en Lima Metropolitana en 2023? Calcule en términos absolutos y relativos. ¿Cómo cambian sus cifras versus los datos de 2019?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 14 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [71]:
# Solución
sumaria1.POBREZA.value_counts(normalize=True)*100

POBREZA
3    78.448327
2    16.405005
1     5.146668
Name: proportion, dtype: float64

In [72]:
16.405005+5.146668

21.551673

In [80]:
sumaria["Poblacion_total"]=sumaria["MIEPERHO"]*sumaria["FACTOR07"]

In [82]:
sumaria["Poblacion_total"].sum()

np.float64(32676529.585711725)

6. Opcional 2: A partir de la pregunta previa, revise sus cálculos por regiones. ¿Dónde subió/bajó más la pobreza?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 14 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# Solución